
.card1 {
  background-image: url('../../../assets/netflix.png');
}
.card2 {
  background-image: url('../../../assets/calcolatrice.png');
}
.card3 {
  background-image: url('../../../assets/shop.png');
}
.card4 {
  background-image: url('../../../assets/spotify.png');
}
.card5 {
  background-image: url('../../../assets/appWeather.png');
}
.card6 {
  background-image: url('../../../assets/to_do_list.png');
}
.card7 {
  background-image: url('../../../assets/dreamHairImplant.png');
}

.card {
  width: 300px;
  height: 350px;
  transition: all 0.4s;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card:hover {
  border-radius: 18px;
}

.first-content {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
}

.card:hover .first-content {
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

.card:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
  transition: 200ms;
  content: '';
  opacity: 80%;
  background-color: black;
}
