<section id="project" class="bg-zinc-800 text-white">
  <div class="flex justify-center p-14">
    <h2 class="text-2xl font-extrabold">Projects</h2>
  </div>
  <div
    id="cardContainer"
    class="p-10 flex flex-col items-center sm:grid sm:grid-cols-2 lg:grid-cols-3"
  >
    <div class="flex justify-center mb-5" *ngFor="let progetto of arrayProject">
      <div
        class="card mt-3 border-2 border-orange-600 shadow-xl shadow-orange-600"
        [ngClass]="progetto.classe"
      >
        <div class="first-content">
          <span class="font-mono font-extrabold text-2xl text-orange-600">{{
            progetto.nome
          }}</span>
        </div>
        <div class="second-content text-center flex flex-col p-3">
          <span
            class="text-sm text-white font-mono font-light tracking-tight leading-tight"
            >{{ progetto.description }}</span
          >
          <div class="w-full flex justify-center">
            <a
              [href]="progetto.link"
              target="_blank"
              class="p-3 mt-3 text-xl border-2 border-orange-600 rounded-xl"
              >GitHub</a
            >
            <a
              *ngIf="progetto.linkSito"
              [href]="progetto.linkSito"
              target="_blank"
              class="p-3 mt-3 ml-2 text-xl border-2 border-orange-600 rounded-xl"
              ><svg
                viewBox="0 0 32 32"
                enable-background="new 0 0 32 32"
                id="Stock_cut"
                version="1.1"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                fill="#000000"
                class="w-[25px]"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <desc></desc>
                  <g>
                    <circle
                      cx="16"
                      cy="16"
                      fill="none"
                      r="15"
                      stroke="#ffffff"
                      stroke-linejoin="round"
                      stroke-miterlimit="10"
                      stroke-width="2"
                    ></circle>
                    <line
                      fill="none"
                      stroke="#ffffff"
                      stroke-linejoin="round"
                      stroke-miterlimit="10"
                      stroke-width="2"
                      x1="3"
                      x2="29"
                      y1="9"
                      y2="9"
                    ></line>
                    <line
                      fill="none"
                      stroke="#ffffff"
                      stroke-linejoin="round"
                      stroke-miterlimit="10"
                      stroke-width="2"
                      x1="3"
                      x2="29"
                      y1="23"
                      y2="23"
                    ></line>
                    <path
                      d="M16,1c0,0-7,5-7,15 s7,15,7,15"
                      fill="none"
                      stroke="#ffffff"
                      stroke-linejoin="round"
                      stroke-miterlimit="10"
                      stroke-width="2"
                    ></path>
                    <path
                      d="M16,1c0,0,7,5,7,15 s-7,15-7,15"
                      fill="none"
                      stroke="#ffffff"
                      stroke-linejoin="round"
                      stroke-miterlimit="10"
                      stroke-width="2"
                    ></path>
                  </g>
                </g>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
