<header
  class="bg-black text-white p-3 border-b-2 border-orange-600 w-full fixed top-0"
>
  <nav class="lg:flex lg:justify-between">
    <div class="flex justify-between">
      <div>
        <img class="w-[100px]" src="../../../assets/logoMD.png" alt="logo" />
      </div>
      <div class="self-center mr-3 lg:hidden">
        <button class="w-[50px]" (click)="rimuoviClasse()">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M4 6H20M4 12H20M4 18H20"
                stroke="#475569"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </g>
          </svg>
        </button>
      </div>
    </div>
    <div class="flex flex-col justify-center mr-3 lg:flex-row">
      <ul class="hidden text-center lg:flex lg:flex-row lg:self-center">
        <li class="m-2">
          <a
            class="m-2 hover:border-orange-600 hover:text-orange-600 hover:border-b-2"
            href="#home"
            >HOME</a
          >
        </li>
        <li class="m-2">
          <a
            class="m-2 hover:border-orange-600 hover:text-orange-600 hover:border-b-2"
            href="#skills"
            >SKILLS</a
          >
        </li>
        <li class="m-2">
          <a
            class="m-2 hover:border-orange-600 hover:text-orange-600 hover:border-b-2"
            href="#project"
            >PROGETTI</a
          >
        </li>
        <li class="m-2">
          <a
            class="m-2 hover:border-orange-600 hover:text-orange-600 hover:border-b-2"
            href="#contatti"
            >CONTATTI</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
